html,
body {
  background: #000;
  font-family: consolas, monospace;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent vertical scrolling */
}

#terminal {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#log {
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling for log area */
  padding: 10px;
}

#prompt {
  display: inline-block; /* Display prompt inline with input */
}

#input {
  display: inline-block; /* Display input inline */
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  outline: none;
}

#input:focus {
  outline: none;
}

::selection {
  background: #555; /* Change selection color */
}
