html,
	body {
		background: #000;
		font-family: consolas, monospace;
		color: white;
		margin: 0px;
		width: 100%;
		height: 100%;
		cursor: default;
		overflow-x: auto;
		/* Enable horizontal scrolling */
		word-wrap: break-word;
		/* Break words to the next line */
	}

	body {
		overflow: hidden scroll;
	}

	#log div {
		width: 100%;
	}

	#prompt {
		position: absolute;
		box-sizing: content-box;
		z-index: 2;
	}

	#input {
		position: absolute;
		box-sizing: border-box;
		background: transparent;
		border: 0px;
		padding: 0px 0px 0px var(--prompt-offset);
		color: inherit;
		font: inherit;
		outline: none;
		width: 100%;
		cursor: inherit;
		z-index: 1;
	}

	::selection {
		background: #aaa;
	}